.portafolio-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2.5rem;
}

.portafolio-item{
    background: var(--color-bg-variant);
    padding: 1.3rem;
    border-radius: 0.2rem;
    border: 1px solid transparent;
    transition: var(--transition);
}

.portafolio-item:hover{
    border-color: var(--color-primary-variant);
    background: transparent;
}

.portafolio-item-image{
    border-radius: 0.2rem;
    overflow: hidden;
}

.portafolio-item h3{
    margin: 1.2rem 0 2rem;
    font-size: 14px;
}

.portafolio-item-cta{
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}

/* Media queries (medium device) tablets */
@media screen and (max-width: 1024px) {
    .portafolio-container{
        grid-template-columns: 1fr 1fr;
        gap: 1.2rem;
    }
}

/* Media queries (small device) movil */
@media screen and (max-width: 600px) {
    .portafolio-container{
        grid-template-columns: 1fr;
        gap: 1rem;
    }
}