footer {
    background: var(--color-primary);
    padding: 3rem 0;
    text-align: center;
    font-size: 0.9rem;
    margin-top: 7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
}

.footer-nombre {
    font-size: 2rem;
    font-weight: 500;
    color: var(--color-bg);
    display: inline-block;
}
footer a img{
    width: 100px;
    height: auto;
}

.footer-social {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
}

.footer-social a {
    background: var(--color-bg);
    color: var(--color-white);
    padding: 0.8rem;
    border-radius: 0.7rem;
    display: flex;
    border: 1px solid transparent;
}

.footer-social a:hover {
    background: transparent;
    color: var(--color-bg);
    border-color: var(--color-bg);
}

.footer-copyright {
    margin-bottom: 4rem;
    color: var(--color-bg);
}


/* Media queries (small device) movil */
@media screen and (max-width: 600px) {
    .permalinks {
        flex-direction: column;
        gap: 1.5rem;
    }

    .footer-social {
        margin-bottom: 2.6rem;
    }
}