.technology-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
}

.technology-container>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--color-bg-variant);
    padding: 1.3rem;
    border-radius: 1.5rem;
    border: 1px solid transparent;
    transition: var(--transition);
}

.technology-container>div:hover {
    background: transparent;
    border-color: var(--color-primary-variant);
    cursor: default;
}

.skill-icon {
    color: var(--color-primary);
    font-size: 1.8rem;
}

.technology-container>div:hover .skill-icon {
    display: none;
}

.technology-container>div h3 {
    width: 100%;
    height: auto;
    font-size: 0.95rem;
    text-align: center;
    color: var(--color-white);
}

.technology-container>div:hover h3 {
    display: none;
}

.technology-content {
    display: none;
}
.technology-container>div:hover .technology-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    padding: 0 2rem 0 2rem;
    font-size: 0.9rem;
}

.technology-details {
    display: flex;
    gap: 1rem;
}

.technology-details-icon {
    margin-top: 6px;
    color: var(--color-primary);
}

/* Media queries (medium device) tablets */
@media screen and (max-width: 1024px) {
    .technology-container {
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
    }

    .technology-container>div {
        width: 100%;
        min-width: 250px;
        max-width: 600px;
        padding: 2rem;
        margin: 0 auto;
    }

    .technology-content {
        padding: 1rem;
        gap: 0.8rem;
    }

    .technology-container>div:hover .technology-content {
        grid-template-columns: repeat(2, 1fr);
        font-size: 0.8rem;
    }
}

/* Media queries (small device) movil */
@media screen and (max-width: 600px) {
    .technology-container {
        grid-template-columns: 1fr;
        gap: 1rem;
    }

    .technology-container>div {
        width: 100%;
        padding: 2rem 1rem;
    }
    .technology-container>div:hover .technology-content {
        grid-template-columns: repeat(1, 1fr);
        font-size: 0.8rem;
    }
}